body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover,
input:-webkit-autofill:active {
  transition: all 5000s;
}
