.centered {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__item {
    width: 300px;
    height: 74.28px;
    text-align: center;
    font-size: 20px;
  }
}

