<mat-toolbar>
  <button mat-icon-button (click)="toggleMenu.emit()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>{{ toolbarService.getLabel() || appName }}</span>
  <span class="spacer"></span>
  <button
    *ngFor="let action of toolbarService.getActions()"
    mat-icon-button
    color="primary"
    (click)="toolbarService.emitAction(action)"
  >
    <mat-icon>{{ action.icon }}</mat-icon>
  </button>
</mat-toolbar>
