<div fxLayout="column" fxLayoutGap="10px" class="chat">
  <div fxFlex="grow" fxLayout="column" class="chat-messages">
    <mat-card
      fxFlexAlign="start"
      *ngFor="let item of [].constructor(10); index as index"
      [style.marginBottom]="index + 1 < 10 ? '10px' : '0px'"
    >
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci
      asperiores aut, et ipsa laboriosam odio provident quos suscipit ut vero!
    </mat-card>
  </div>

  <mat-card fxFlex style="padding: 10px 10px">
    <form class="chat-form" fxLayout="row" fxLayoutAlign="center center">
      <mat-form-field class="chat-form__control" appearance="outline">
        <textarea
          matInput
          cdkTextareaAutosize
          cdkAutosizeMinRows="1"
          cdkAutosizeMaxRows="4"
          placeholder="Write a message..."
        ></textarea>
      </mat-form-field>
      <button mat-icon-button>
        <mat-icon>send</mat-icon>
      </button>
    </form>
  </mat-card>
</div>
