<div fxLayout="column" fxLayoutGap="10px" class="chat">
  <mat-toolbar>
    <span>Chat with Username</span>
    <span class="spacer"></span>

    <button mat-icon-button color="primary">
      <mat-icon>videocam</mat-icon>
    </button>

    <button mat-icon-button color="primary">
      <mat-icon>call</mat-icon>
    </button>
  </mat-toolbar>
  <div fxFlex="grow" fxLayout="column" class="chat-messages">
    <mat-card
      fxFlexAlign="start"
      *ngFor="let item of [].constructor(5); index as index"
      [style.marginBottom]="index + 1 < 5 ? '10px' : '0px'"
    >
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci
      asperiores aut, et ipsa laboriosam odio provident quos suscipit ut vero!
    </mat-card>
  </div>

  <div fxFlex>
    <form class="chat-form" fxLayout="row" fxLayoutAlign="center center">
      <mat-form-field class="chat-form__control" appearance="outline">
        <textarea
          matInput
          cdkTextareaAutosize
          cdkAutosizeMinRows="1"
          cdkAutosizeMaxRows="4"
          placeholder="Write a message..."
        ></textarea>
      </mat-form-field>
      <button mat-icon-button>
        <mat-icon>send</mat-icon>
      </button>
    </form>
  </div>
</div>
