@use '../../../../styles/mixins/scrollbar' as scrollbar;

.chat {
  height: 100%;
}

.chat-messages {
  overflow-y: scroll;
  overflow-x: hidden;
  @include scrollbar.scrollbar();
}

.chat-form-wrapper {
  padding: 0px 5px;
}

.chat-form {
  width: 100%;
  padding-top: 0.5em;


  &__control {
    width: 100%;
    border: 0px;
  }

  &__submit-btn {
    margin-bottom: 0.5em;
  }

  textarea {
    overflow: hidden;
  }

  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-end {
    border: none;
    border-left: none;
  }

  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-start {
    border: none;
    border-right: none;
  }

  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-gap {
    border-bottom: none;
  }

  ::ng-deep .mat-form-field-infix {
    border-top: none;
  }

  ::ng-deep .mat-form-field-wrapper {
    padding: 0;
    margin: 0;
  }
}
