@import '~@angular/material/theming';
@include mat-core();

// light theme
$primary-light: mat-palette($mat-light-blue);
$accent-light: mat-palette($mat-light-green);
$warn-light: mat-palette($mat-red);

$theme-light: mat-light-theme($primary-light, $accent-light, $warn-light);

// dark theme
$primary-dark: mat-palette($mat-teal, 500, 100, 900);
$accent-dark: mat-palette($mat-pink, A200, A100, A400);
$warn-dark: mat-palette($mat-orange);

$theme-dark: mat-dark-theme($primary-dark, $accent-dark, $warn-dark);

@mixin apply-theme($theme) {
  @include angular-material-theme($theme);
  color: mat-color(map-get($theme, accent), default-contrast);
}

.theme_light {
  @include apply-theme($theme-light);
}

.theme_dark {
  @include apply-theme($theme-dark);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
