@import '~@angular/material/theming';
@include mat-core();

// light theme
$primary-light: mat-palette($mat-light-blue);
$accent-light: mat-palette($mat-light-green);
$warn-light: mat-palette($mat-red);

$theme-light: mat-light-theme($primary-light, $accent-light, $warn-light);

$theme-light: map_merge(
  $theme-light,
  (
    background-color: mat-color(mat-palette($mat-grey, 100)),
  )
);

// dark theme
$primary-dark: mat-palette($mat-teal);
$accent-dark: mat-palette($mat-pink);
$warn-dark: mat-palette($mat-orange);

$theme-dark: mat-dark-theme($primary-dark, $accent-dark, $warn-dark);

$theme-dark: map_merge(
  $theme-dark,
  (
    background-color: mat-color(mat-palette($mat-blue-grey, 600)),
  )
);

@mixin apply-theme($theme) {
  @include angular-material-theme($theme);

  $color: #{mat-color(map-get($theme, accent), default-contrast)};
  $background-color: map-get($theme, background-color);

  color: $color;
  --color: #{$color};
  --bg-color: #{$background-color};
}

.theme_light {
  @include apply-theme($theme-light);
}

.theme_dark {
  @include apply-theme($theme-dark);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
