<div class="contacts" fxLayout="row">
  <div *ngIf="users && users.length > 0" class="contacts__list" fxFlex="30">
    <app-contact-card
      *ngFor="let user of users"
      [username]="user.username"
      margin="0px 0px 10px 0px"
    >
      <button
        action
        mat-mini-fab
        color="primary"
        (click)="onCall(user.username)"
      >
        <mat-icon>call</mat-icon>
      </button>
    </app-contact-card>
  </div>

  <app-call-alert-dialog></app-call-alert-dialog>
</div>
